
div {
    height: 0;
    width: 0;
    position: relative;
    margin: 50px 100px;
    text-align: center;
}

div::before {
    height: 0;
    width: 20%;
    position: absolute;
    left: -100px;
    top: -50px;
    border-right: 50px solid yellowgreen;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    content: " ";
}

div::after {
    height: 0;
    width: 20%;
    position: absolute;
    left: 50px;
    top: -50px;
    border-left: 50px solid yellowgreen;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    content: " ";
}

div:nth-child(1) {
    border: 50px solid green;
}
div:nth-child(1)::before {
    border-right: 50px solid green;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
div:nth-child(1)::after {
    border-left: 50px solid green;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

div:nth-child(2) {
    border: 50px solid yellow;
}
div:nth-child(2)::before {
    border-right: 50px solid yellow;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
div:nth-child(2)::after {
    border-left: 50px solid yellow;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

div:nth-child(3) {
    border: 50px solid orange;
}
div:nth-child(3)::before {
    border-right: 50px solid orange;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
div:nth-child(3)::after {
    border-left: 50px solid orange;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

div:nth-child(4) {
    border: 50px solid blue;
}
div:nth-child(4)::before {
    border-right: 50px solid blue;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
div:nth-child(4)::after {
    border-left: 50px solid blue;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

div:nth-child(5) {
    border: 50px solid red;
}
div:nth-child(5)::before {
    border-right: 50px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
div:nth-child(5)::after {
    border-left: 50px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
