
div {
    height: 0;
    width: 0;
    position: relative;
    margin: 100px;
    text-align: center;
}

div::before {
    height: 0;
    width: 30%;
    position: absolute;
    left: -100px;
    top: -50px;
    border-right: 50px solid #eee;
    border-top: 50px solid blueviolet;
    border-bottom: 50px solid blueviolet;
    content: " ";
}

div::after {
    height: 0;
    width: 30%;
    position: absolute;
    left: 650px;
    top: -50px;
    border-left: 50px solid yellowgreen;
    border-top: 50px solid blueviolet;
    border-bottom: 50px solid blueviolet;
    content: " ";
}

div:nth-child(1) {
    border: 50px solid green;
}

div:nth-child(2) {
    border: 50px solid yellow;
}

div:nth-child(3) {
    border: 50px solid orange;
}

div:nth-child(4) {
    border: 50px solid blue;
}

div:nth-child(5) {
    border: 50px solid red;
}

