


/* 
.main {
        width: auto;
      }

.first {
        width: 800px;
        height: 100px;
        background: linear-gradient(to right, white 12,5%, black 12,5%, black 25%, white 25%, white 37,5%, black 37,5%, black 50%,  white 50%,  white 62,5%, black 62,5%, black 75%, white 75%,  white 87,5%, black 87,5%);
        }

.second {
        width: 800px;
        height: 100px;
        background: linear-gradient(to right, black 12,5%, white 12,5%, white 25%, black 25%, black 37,5%, white 37,5%, white 50%,  black 50%,  black 62,5%, white 62,5%, white 75%, black 75%,  black 87,5%, white 87,5%);
        }
             */

            button {
                 background-color: red;
                 height: 40px;
                 width: 400px;
                 border-radius: 20px;
             }
            button:nth-child(2n) {
                background-color: green;
            }
            button:hover ~ button {
                opacity: 0;
            }
            button:nth-child(2):hover {
                opacity: 0;
            }
