div {
    height: 495px;
    width: 100%;
    /* padding: 45px auto; */
    background-color: whitesmoke;
    text-align: center;
}

.button {
    border-width: 1px;
    border-color: royalblue;
    font: arial;
    font-weight: bold;
    font-size: 25px;
    color: orangered;
    height: 45px;
    width: 120px;
    margin: 225px;
    background: linear-gradient(to bottom right, #00ffcc 0%, #ffff66 100%);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    transition: all 1s;
    cursor: pointer;
    }

    .button:active {
        border-width: 1px;
        border-color: royalblue;
        font: arial;
        font-weight: bold;
        font-size: 25px;
        color: orangered;
        height: 45px;
        width: 120px;
        margin: 225px;
        background: linear-gradient(to top left, #00ffcc 0%, #ffff66 100%);
        box-shadow: 5px 10px 18px whitesmoke;
        border-radius: 5px;
        transition: all 1s;
        cursor: pointer;
        }
