.main  {
    margin: 70px 50px; 
    position: relative;
}
.item  {
    border: 2px solid black;
    position: absolute;
    background-color: khaki;
    width: 60px;
    height: 100px;
    border-radius: 5px;
}

.item1 {
}

.item2 {
    left: 50px;
}

.item3 {
    left: 100px;
}

.item4 {
    left: 150px;
}

.item:hover {
    background: linear-gradient(to bottom right, #00ffcc 0%, #ffff66 100%);
    z-index: 1;
    box-shadow: 5px 10px 18px #888888;
    color: transparent;
    top: -10px;
    cursor: pointer;
}