$ss_length: 100px;
$q_of_rows: 6;
$q_of_columns: 8;

body {
    .main  {
        position: relative;
        width: $ss_length * $q_of_columns;
        height: $ss_length * $q_of_rows;
        margin: 100px auto;
        background-image: linear-gradient(90deg, grey $ss_length*0.05, transparent $ss_length*0.05, transparent $ss_length*0.95, grey $ss_length*0.95),
                          linear-gradient(180deg, grey $ss_length*0.05, transparent $ss_length*0.05, transparent $ss_length*0.95, grey $ss_length*0.95);
        background-size: $ss_length $ss_length;
        background-position: 0 0, 0 $ss_length, $ss_length -1*$ss_length, -1*$ss_length 0;
        
    }
}
